.quill-dark .ql-toolbar {
    background-color: #1f2937;
    border-color: #374151;
}

.quill-dark .ql-container {
    background-color: #1f2937;
    border-color: #374151;
}

.quill-dark .ql-editor {
    color: #e5e7eb;
}

.quill-dark .ql-editor.ql-blank::before {
    color: #9ca3af;
}

.quill-dark .ql-stroke {
    stroke: #e5e7eb;
}

.quill-dark .ql-fill {
    fill: #e5e7eb;
}

.quill-dark .ql-picker {
    color: rgb(235, 234, 229);
}

.quill-dark .ql-picker-options {
    background-color: #374151;
}

.quill-dark .ql-picker-item:hover {
    background-color: #4b5563;
}

.quill-dark .ql-tooltip {
    background-color: #374151;
    color: #e5e7eb;
}

.quill-dark .ql-tooltip input[type="text"] {
    background-color: #1f2937;
    color: #e5e7eb;
}
.ql-toolbar.ql-snow {
    background: var(--tw-bg-opacity) var(--tw-bg-surface-light);
}

.ql-toolbar.ql-snow .ql-picker {
    color: var(--tw-text-opacity) var(--tw-text-light);
}

.ql-toolbar.ql-snow .ql-stroke {
    stroke: var(--tw-text-opacity) var(--tw-text-light);
}

.ql-toolbar.ql-snow .ql-fill {
    fill: var(--tw-text-opacity) var(--tw-text-light);
}

.ql-toolbar.ql-snow .ql-picker-options {
    background: var(--tw-bg-opacity) var(--tw-bg-surface-light);
}

.ql-toolbar.ql-snow .ql-picker-item {
    color: var(--tw-text-opacity) var(--tw-text-light);
}

.dark .ql-toolbar.ql-snow {
    background: var(--tw-bg-opacity) var(--tw-bg-surface-dark);
}

.dark .ql-toolbar.ql-snow .ql-picker {
    color: var(--tw-text-opacity) var(--tw-text-dark);
}

.dark .ql-toolbar.ql-snow .ql-stroke {
    stroke: var(--tw-text-opacity) var(--tw-text-dark);
}

.dark .ql-toolbar.ql-snow .ql-fill {
    fill: var(--tw-text-opacity) var(--tw-text-dark);
}

.dark .ql-toolbar.ql-snow .ql-picker-options {
    background: var(--tw-bg-opacity) var(--tw-bg-surface-dark);
}

.dark .ql-toolbar.ql-snow .ql-picker-item {
    color: var(--tw-text-opacity) var(--tw-text-dark);
}