.quill-dark .ql-toolbar {
    background-color: #1f2937;
    border-color: #374151;
}

.quill-dark .ql-container {
    background-color: #1f2937;
    border-color: #374151;
}

.quill-dark .ql-editor {
    color: #e5e7eb;
}

.quill-dark .ql-editor.ql-blank::before {
    color: #9ca3af;
}

.quill-dark .ql-stroke {
    stroke: #e5e7eb;
}

.quill-dark .ql-fill {
    fill: #e5e7eb;
}

.quill-dark .ql-picker {
    color: rgb(235, 234, 229);
}

.quill-dark .ql-picker-options {
    background-color: #374151;
}

.quill-dark .ql-picker-item:hover {
    background-color: #4b5563;
}

.quill-dark .ql-tooltip {
    background-color: #374151;
    color: #e5e7eb;
}

.quill-dark .ql-tooltip input[type="text"] {
    background-color: #1f2937;
    color: #e5e7ea;
}

.ql-toolbar.ql-snow {
    background: var(--tw-bg-opacity) theme('colors.surface.light');
    border-color: theme('colors.primary.light');

    .ql-picker {
        color: theme('colors.text.light');
    }

    .ql-stroke {
        stroke: theme('colors.text.light');
    }

    .ql-fill {
        fill: theme('colors.text.light');
    }

    .ql-picker-options {
        background: theme('colors.surface.light');
        border-color: theme('colors.primary.light');
    }

    .ql-picker-item {
        color: theme('colors.text.light');
    }
}

.dark .ql-toolbar.ql-snow {
    background: var(--tw-bg-opacity) theme('colors.surface.dark');
    border-color: theme('colors.primary.dark');

    .ql-picker, .ql-picker-item {
        color: theme('colors.text.dark');
    }

    .ql-stroke {
        stroke: theme('colors.text.dark');
    }

    .ql-fill {
        fill: theme('colors.text.dark');
    }

    .ql-picker-options {
        background: theme('colors.surface.dark');
        border-color: theme('colors.primary.dark');
    }
}

.ql-editor {
    background-color: theme('colors.background.light');
    color: theme('colors.text.light');
}

.dark .ql-editor {
    background-color: theme('colors.background.dark');
    color: theme('colors.text.dark');
}